
body {
    background-color: #112233;
    color: #aabbcc;
    font-family: sans;
    font-size: 14px;
    line-height: 21px;
    cursor: default;
}


a {
    color: #48D7E9;
    text-shadow: 0px 0px 3px #133153;
}

a:hover {
    color: #72EDFD;
    text-shadow: 0px 0px 8px #3F638B;
}

.hpad {
    height : 15px;
}

.rel {
    position: relative;
    padding: 0px;
}

.centered {
    display: block;
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.annotation {
    position: absolute;
    left: 545px;
    top: 25px;
    width: 200px;
    height: 400px;
}

.annotation h3 {
    margin-top: 0px;
    font-variant: small-caps;
}

.label {
    font-variant: small-caps;
    text-align: right;
    width: 150px;
}

.link_block {
    position : relative;
}

.link_label {
    font-variant: small-caps;
    font-size : 12px;
    text-align: right;
    height : 20px;
    width: 150px;
}

.link {
    position:absolute;
    width: 500px;
    height : 20px;
    top : 0px;
    left: 160px;
    font-size: 11px;
}


.main {
    position: absolute;
    padding-top: 6px;
    left: 0;
    top: 25px;
    width : 550px;
    height : 400px;
}


.input_block {
    position:relative;
    width: 500px;
    height : 30px;
}

.code_block {
    position:relative;
    width: 500px;
    height : 200px;
}

.process_block {
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    height : 30px;
}

.output_block {
    position:relative;
    width: 500px;
    height : 30px;
}


.code {
    position: absolute;
    padding: 5px;
    top: 0px;
    left: 160px;
    height: 200px;
    width: 360px;
    background-color: #051627;
    background-image: url('bg.png');
    border: 1px solid #365666;
    color: #B4EEF5;
    font-family: monospace;
    font-size: 12px;
    line-height: 18px;
    overflow: auto;
    white-space: pre;
    -moz-appearance:none;
    outline:0px none transparent;
    border : 1px solid #365666;
}

.code:focus {
    outline: 0;
}

.data {
    position: absolute;
    height: 22px;
    top: 0px;
    left: 160px;
    color: #B4EEF5;
    font-family: monospace;
    background-color: #06192B;
    padding-left: 5px;
}

#input_data {
    width: 330px;
}

#output_data {
    width: 360px;
}

.button {
    font-variant: small-caps;
    text-align: center;
}

.button:hover {
    background-color: #172839 !important;
}

.button:active {
    background-color: #0B1C2E !important;
}

#button_regen_input {
    position: absolute;
    top: 0px;
    left: 500px;
    width : 22px;
    height: 22px;
    background-image: url('refresh.svg');
    background-repeat: no-repeat;
}

#button_process {
    position: absolute;
    top: 5px;
    left: 286px;
    width : 130px;
    height: 22px;
    border : 1px solid #365666;
    background-color: #06192B;
}

.error {
    color : #E67C60;
}

.loading {
    padding-top: 3px;
    opacity: .7;
}


